@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import './styles/themes.css';

/* body {
    font-family: 'Inter', sans-serif;
} */

@layer base {
  body {
    @apply bg-background text-foreground;
    width: 100%;
    height: 100%;
    transition:
      background-color 0.3s,
      color 0.3s ease;
  }
}

.lucide {
  stroke-width: 1.5;
}
